* {
}

body {
    color: #444;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    line-height: 1.6;

    margin: 40px auto;
    /*max-width: 1100px;*/
    /*max-width: 1080px;*/
    padding: 0 10px;

    background: linear-gradient(
        135deg,
        #FF5722, #F44336, #E91E63, #9C27B0,
        #673AB7, #3F51B5, #2196F3, #03A9F4,
        #00BCD4, #009688, #4CAF50, #8BC34A,
        #CDDC39, #FFEB3B, #FFC107, #FF9800,
        #FF5722
    );
    background-size: 3200%, 3200%;

    -webkit-animation: backgroundRainbow 240s ease infinite;
    -moz-animation: backgroundRainbow 240s ease infinite;
    -o-animation: backgroundRainbow 240s ease infinite;
    animation: backgroundRainbow 240s ease infinite;
}

h1, h2, h3 {
    line-height: 1.2;
    opacity: 0.55;
    padding-bottom: 10px;
}

@-webkit-keyframes backgroundRainbow {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@-moz-keyframes backgroundRainbow {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@-o-keyframes backgroundRainbow {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@keyframes backgroundRainbow {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

/* -------------- */
/*    CSS Grid    */
/* -------------- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
}

.wrapper .title {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    align-self: end;
}

.wrapper .js-programs {
    grid-column-start: 2;
    grid-row-start: 2;
}

.js-programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
